Service References/AllocationEnquiryService/AllocationEnquiryV7Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:smp="http://www.travco.co.uk/trlink/xsd/simpletype" xmlns:cmp="http://www.travco.co.uk/trlink/xsd/complextype" xmlns:tns="http://www.travco.co.uk/trlink/xsd/allocationenquiryv7/response" targetNamespace="http://www.travco.co.uk/trlink/xsd/allocationenquiryv7/response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="CommonSimpleType.xsd" namespace="http://www.travco.co.uk/trlink/xsd/simpletype" />
  <xs:import schemaLocation="CommonComplexType.xsd" namespace="http://www.travco.co.uk/trlink/xsd/complextype" />
  <xs:element name="AllocationEnquiryV7Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:Response" />
      </xs:sequence>
      <xs:attribute default="en-GB" name="LangType" type="smp:LangType" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Information" type="cmp:InfoType" />
        <xs:element name="Allocations">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" ref="tns:Allocation" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Allocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Information" type="cmp:InfoType" />
        <xs:element name="Status" type="xs:string" />
        <xs:element minOccurs="0" name="HotelName" type="xs:string" />
        <xs:element minOccurs="0" name="RoomName" type="xs:string" />
        <xs:element minOccurs="0" name="HotelStar" type="xs:string" />
        <xs:element minOccurs="0" name="HotelStarCode" type="xs:string" />
        <xs:element minOccurs="0" name="AdultPriceDetail" type="xs:string" />
        <xs:element minOccurs="0" name="ChildPriceDetail" type="xs:string" />
        <xs:element minOccurs="0" name="SpecialMessage" type="xs:string" />
        <xs:element minOccurs="0" name="PriceMessage" type="xs:string" />
        <xs:element minOccurs="0" name="CurrencyName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ReducedPriceDetails">
          <xs:complexType>
            <xs:attribute name="AdultReductionAmount" type="xs:float" />
            <xs:attribute name="AdultReductionPercentage" type="smp:PercentageType" />
            <xs:attribute name="ChildReductionAmount" type="xs:float" />
            <xs:attribute name="ChildReductionPercentage" type="smp:PercentageType" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="FreeNightsDetails">
          <xs:complexType>
            <xs:attribute name="NoOfAdultFreeNights" type="smp:Int2PositiveType" />
            <xs:attribute name="AdultFreeNightsPrice" type="xs:float" />
            <xs:attribute name="MinimumAdultDuration" type="smp:Int2PositiveType" />
            <xs:attribute name="NoOfChildFreeNights" type="smp:Int2PositiveType" />
            <xs:attribute name="ChildFreeNightsPrice" type="xs:float" />
            <xs:attribute name="MinimumChildDuration" type="smp:Int2PositiveType" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="HotelMessages">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="HotelMessage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="HotelMessageText" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="HotelMessageCode" type="smp:String3Type" />
                  <xs:attribute name="FromDate" type="xs:date" use="required" />
                  <xs:attribute name="ToDate" type="xs:date" use="required" />
                  <xs:attribute name="MessageIndicator">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Block" />
                        <xs:enumeration value="Information" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="RatePlanDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RatePlanDescription" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="RatePlanCode" type="smp:String6Type" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="EnquiryNo" type="smp:Int3PositiveType" use="required" />
      <xs:attribute name="NoOfAdults" type="smp:Int3PositiveType" use="required" />
      <xs:attribute name="NoOfChild" type="smp:Int3PositiveType" />
      <xs:attribute name="Duration" type="smp:Int3PositiveType" use="required" />
      <xs:attribute name="Date" type="xs:date" use="required" />
      <xs:attribute name="HotelCode" type="smp:String4Type" use="required" />
      <xs:attribute name="RoomCode" type="smp:String3Type" />
      <xs:attribute name="LastAvailableDate" type="xs:date" />
      <xs:attribute name="NextAvailableDate" type="xs:date" />
      <xs:attribute name="AdultPrice" type="xs:float" />
      <xs:attribute name="ChildPrice" type="xs:float" />
      <xs:attribute name="TotalAdultPrice" type="xs:float" />
      <xs:attribute name="TotalChildPrice" type="xs:float" />
      <xs:attribute name="CurrencyCode" type="smp:String3Type" />
      <xs:attribute name="PriceCode" type="smp:String15Type" />
      <xs:attribute name="SpecialIndicator" type="smp:String1Type" />
      <xs:attribute name="CancellationChargeCode" type="smp:String6Type" />
      <xs:attribute name="CancellationChargeOverlapCode" type="smp:String6Type" />
      <xs:attribute name="NoOfPassengerInRoom" type="smp:Int2PositiveType" />
      <xs:attribute name="NoOfExtraBed" type="smp:Int2PositiveType" />
      <xs:attribute name="ExtraBedIndicator" type="smp:String1Type" />
    </xs:complexType>
  </xs:element>
</xs:schema>