Service References/HotelBookingRequestService/CommonSimpleType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.travco.co.uk/trlink/xsd/simpletype" targetNamespace="http://www.travco.co.uk/trlink/xsd/simpletype" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="String1Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String2Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String3Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String4Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String6Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String8Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String9Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String10Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String11Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String15Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String25Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String30Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String50Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String60Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String100Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String5Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String12Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String13Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="13" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String16Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String20Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String255Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YesNoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="yes" />
      <xs:enumeration value="no" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int1PositiveType">
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int2PositiveType">
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int2Type">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="2" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int2TypeZeroPositive">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="2" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int3TypeZeroPositive">
    <xs:restriction base="xs:integer">
      <xs:totalDigits value="3" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Int3PositiveType">
    <xs:restriction base="xs:positiveInteger">
      <xs:totalDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PercentageType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.00" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CommentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="Must have hotel and room type requested" />
      <xs:enumeration value="Alternative hotel of similar standard and price acceptable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LangType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z]{2}-[A-Z]{2}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>