Service References/HotelExtranet/ExtXmlOutService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.130:8097/ExtXmlOutService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExtranetXMLOut.Entity" />
  <xs:import schemaLocation="http://192.168.1.130:8097/ExtXmlOutService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetPropertyIdsByCityAndMainAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MainAgent" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyIdsByCityAndMainAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPropertyIdsByCityAndMainAgentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HotelDetailResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HotelDetailResponseResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOnRequestStatusByXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOnRequestStatusByXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOnRequestStatusByXMLResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeCancelBookingRequestByXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeCancelBookingRequestByXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeCancelBookingRequestByXMLResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBookRequestByXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="authentication" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBookRequestByXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeBookRequestByXMLResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryFromEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryFromEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueryFromEntityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchCityRequestByXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="For_Self" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchCityRequestByXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchCityRequestByXMLResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreBookRequestByXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreBookRequestByXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPreBookRequestByXMLResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCancelPolicyByXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCancelPolicyByXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCancelPolicyByXMLResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchCityRequestByParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractId" type="xs:long" />
        <xs:element minOccurs="0" name="countryId" type="xs:long" />
        <xs:element minOccurs="0" name="cultureId" type="xs:long" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="C1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="C2" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExtranetXMLOut.Entity" minOccurs="0" name="room" nillable="true" type="q1:ArrayOfRoomSelfSearch" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="mid" nillable="true" type="q2:ArrayOflong" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Stars" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="hname" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ptid" nillable="true" type="q4:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchCityRequestByParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchCityRequestByParametersResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreBookRequestByParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PId" type="xs:long" />
        <xs:element minOccurs="0" name="RId" type="xs:long" />
        <xs:element minOccurs="0" name="MeId" type="xs:long" />
        <xs:element minOccurs="0" name="CountryId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cultureId" type="xs:long" />
        <xs:element minOccurs="0" name="C1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="C2" type="xs:dateTime" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExtranetXMLOut.Entity" minOccurs="0" name="room" nillable="true" type="q5:ArrayOfRoomSelfSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreBookRequestByParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPreBookRequestByParametersResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOnlyAvailabilityInCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractId" type="xs:long" />
        <xs:element minOccurs="0" name="countryId" type="xs:long" />
        <xs:element minOccurs="0" name="cultureId" type="xs:long" />
        <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="C1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="C2" type="xs:dateTime" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExtranetXMLOut.Entity" minOccurs="0" name="room" nillable="true" type="q6:ArrayOfRoomSelfSearch" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="mid" nillable="true" type="q7:ArrayOflong" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Stars" nillable="true" type="q8:ArrayOfstring" />
        <xs:element minOccurs="0" name="hname" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ptid" nillable="true" type="q9:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOnlyAvailabilityInCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckOnlyAvailabilityInCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchCityRequestByXML_New">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MainAgent" type="xs:long" />
        <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paxcountrycode" type="xs:long" />
        <xs:element minOccurs="0" name="cultureId" type="xs:long" />
        <xs:element minOccurs="0" name="citycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="C1" type="xs:dateTime" />
        <xs:element minOccurs="0" name="C2" type="xs:dateTime" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ExtranetXMLOut.Entity" minOccurs="0" name="room" nillable="true" type="q10:ArrayOfRoomSelfSearch" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="mid" nillable="true" type="q11:ArrayOflong" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Stars" nillable="true" type="q12:ArrayOfstring" />
        <xs:element minOccurs="0" name="hotelname" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ptid" nillable="true" type="q13:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchCityRequestByXML_NewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchCityRequestByXML_NewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>